body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-group a button {
    width: 100%;
    font-size: 16px;
}

.logout {
    background-color: #dc3545;
}

.logout:hover {
    background-color: #c82333;
}

ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
